:root {
  --header-font: 'Bebas Neue', sans-serif;
  --body-font: 'Kalnia', serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: var(--body-font);
}

/****Starting with header****/

header {
    background-image: url("../images/cover-2.webp");
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 1rem;
    font-family: var(--header-font);
    /*dont forget to add font styles*/
}

header .message {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}



.contact-det {
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
}



.contact-det h2 {
  text-align: center;
  padding: 1rem;
}

.contact-det p {
  line-height: 1.7;
  text-align: center;
}

.contact-det .action-button {
  justify-content: center;
  align-items: center;
}

.contact-det .action-button:hover {
  background-color: black;
}

.contact-det button a {
  justify-content: center;
  color: whitesmoke;
  font-family: var(--header-font);
  font-weight: bold;
}

header .explo {
  margin-top: 1rem;
}



/****Nav bar****/

/*Navbar*/

.navbar {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%), 
    0 0 2px rgb(0 0 0 / 7%);

}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
    list-style: none;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: #0077b6;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

.navbar-nav-right img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
  text-transform: uppercase;

}

.navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
  text-transform: uppercase;
}


/**hamburger menu***/

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;

}


.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


/* MOBILE MENU*/


.mobile-menu{
  position: fixed;
  top: 20.5rem;
  right: 0;
  color: black;
  background-color: #004e89;
  width: 80%;
  height: 100%;
  padding: 30px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%), 
    0 0 2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: yellow solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mobile-menu li {
  list-style: none;
}


.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.mobile-menu a:hover {
  color: yellow;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

/*main styling*/

.rentals {
  border-radius: 20px;
}

.rental-info {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  border-radius: 2rem;
}

.rental-info img {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  margin-top: 1rem;
  border-radius: 10px;
}

.rental-info h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--header-font);
}

.rental-info p {
  font-family: var(--header-font);
  text-align: center;
  line-height: 1.5;
}

.item .rental-card {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 5rem;
}

.item .rental-card h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: var(--header-font);
}

.item .rental-card .first-p {
  font-family: var(--header-font);
  line-height: 1.5;
}

.item .rental-card img {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.item .rental-card .action-button {
  margin-top: 2rem;
}

.item .rental-card .action-button:hover {
  background-color: black;
}

.motor, .atv, .jeeps, h4 {
  font-family: var(--header-font);
  margin-bottom: 1rem;
} 
.motor, .atv, .jeeps, p {
  font-family: var(--header-font);
} 



.item .rental-card a {
  text-align: center;
  color: whitesmoke;
  font-family: var(--header-font);
  font-weight: bold;
}

.item .scoots-hero {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

.item .scoots-hero img {
  padding: 1rem;
  margin-bottom: 1rem;
}


.item .scoots-hero h2 {
  padding: 2rem;
}

.item .scoots-hero .action-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.item .scoots-hero .action-button:hover {
  background-color: black;
}

.item .scoots-hero .action-button a {
  color: whitesmoke;
  text-align: center;
  font-family: var(--header-font);
  font-weight: bold;
}

.weather {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.social {
  text-align: center;
  margin: 2rem;
}

.social .fa-brands {
  padding: 1rem;
  font-size: large;
  color: #28a745;
}

.container .item-rent ul li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  font-family: var(--header-font);
  border: 1px green solid;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    
  }

  .item {
    padding: 10px;
    
  }
  
  .main-image {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.action-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
  /* Style the images */
 
  .rentals img {
    width: 100%;
    height: auto;
  }
  /* Style the images */
  
  
  /* Style the rentals section */
  .rentals {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Style the button */
 
  
  /* Style the rental information 
  .rental-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }*/
  
  /* Style the rental cards */
  .rental-card {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Style the footer */
  .footer {
    background-color: #333;
    align-items: center;
    color: white;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  
  /* Style the footer headings */
  .footer h4 {
    margin-bottom: 10px;
  }

  .footer .footer-col a {
    color: white;
  }
  
  /* Style the social media icons */
  .social li a {
    display: block;
  }
  
  /* Style the weather icon */
  .weather img {
    width: 50px;
    vertical-align: middle;
  }


  /*******RENTALS*******/

  .rental-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .rental-table th,
  .rental-table td {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .rental-table th {
    font-weight: bold;
    background-color: #333333;
    color: #FFFFFF;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
  }
  
  .divider-row {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333333;
    padding: 5px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  section {
    margin-bottom: 20px;
  }

  section#rentals {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .rental-types {
    display: flex;
    flex-wrap: wrap;
  }
  
  .rental-types > div {
    flex-basis: 50%;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  @media screen and (max-width: 600px) {
    .rental-types > div {
      flex-basis: 100%;
    }
  }
  

  img {
    max-width: 100%;
    height: auto;
  }

  /*reservations*/ 

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/***Contact***/

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map iframe {
  width: 100%; /* Make the iframe take full width */
  max-width: 800px; /* Set a maximum width for larger screens */
}

.contact-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  color: #333;
}

.contact p {
  margin: 10px 0;
}

.phone {
  color: #007bff;
}

.email {
  color: #28a745;
}

/* Contact Form styling */

.item h2 {
  color: #333;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}












@media (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
    }
}


/**reservations**/

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}


/****Contact***/

@media (max-width: 600px) {
  .map iframe {
      max-width: 100%; 
  }
}








@media(max-width: 960px) {
    .text-xl {
        font-size: 30px;
    }

    .text-lg {
        font-size: 25px;
    }

    .text-md {
        font-size: 19px;
    }
}




@media(max-width: 768px) {
  
  .hamburger {
    display: block;
  }
    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .grid-reversed :first-child {
        order: 0;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }

    .footer {
        text-align: center;
    }
}


@media(min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }

    .divider {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}



@media (min-width: 768px) {
  /* Adjust styles for screens larger than 768px */
  .rental-type {
    width: calc(33.33% - 20px);
  }
}




