

  @media (max-width: 37.5em) {
    header {
      border-bottom: 1px solid black ;
    }
  
    header h1 {
      display: none;
    }
  
    header img {
      justify-content: left;
      display: inline;
    }

    .adverts {
        grid-template-columns: 1fr;
    }
  }