* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Lora', serif;
    font-size: 16px;

}

/*header styling...........*/
header {
    margin: 2rem auto;
    background-color: #D6CCC2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}

img {
    width: 80px;
    height: auto;
    margin-left: 30px;
    
}

h1 {
    font-size: 1rem;
    margin: 30px;
}

/*Nav styling...........*/

nav {
    background-color: #d5bdaf;
    margin: 0 auto;
    max-width: 767px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
    font-weight: bold;
}

/*main content*/

h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;  
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    color: #14213D;
}

.card {
    margin-top: 20px;
    display: grid;
    border: 1px solid black;
    box-shadow: 0 5px 10px black;
    margin-right: 10px;
    margin-left: 10px;
}


h3 {
    background-color: #14213D;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.card ul {
    list-style-type: none;
    margin: 10px;
}

.card ul li a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    line-height: 1.6;
}

/*footer*/

footer {
    margin: 2rem auto;
    background-color: #d5bdaf;
    padding: 1rem;
    text-align: center;
    line-height: 2.5;
    font-family: 'Lora', serif;
}

/*@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}*/