@media (min-width: 768px) {
    .column {
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: 30px;
        text-align: left;
    }

    h1 {
        font-size: 30px;
    }

    img {
        width: 200px;
    }

    #footer-sect p {
        font-size: 20px;
        font-weight: bold;
    }
}